body{
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

header{
    background: #ff94d4;
    color: white;
    text-align: center;
    padding: 20px;
}

.box{
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

h2{
    color: #0f0109;
}

.foto, .alat{
    width: 250px;
    display: block;
    margin-top: 10px;
}

.btn{
    background: #f97ed6;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

footer{
    text-align: center;
    padding: 10px;
    background: #f18fd1;
    color: white;
}
